<% @stores.each do |store| %>
<ul>
<li>Name: <%= store.name %></li>
<li>City: <%= store.city %></li>
<li>Distance: <%= store.distance %></li>
<li> Phone Number: <%= store.phone_number %></li>
<li>Store Type: <%= store.store_type %></li>  
</ul>
<% end %>
